body {background-color: #222A59;}
h1 {
    color: #F2D649;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 76px;
}

h2 {
    color: #F2D649;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h3 {color: #F2D649}

p {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

details {color: #F2D649}

ol {color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
border: solid;}

a {color: #42b83b}

.city-wrapper {
    padding: 20px;
    padding-left: 120px;
    margin-bottom: 40px;
}

.city-wrapper.london > p {
    font-size: 20px;
}

.details-words {
    color: white;
}