body {
    background-color: #02207A;
font-optical-sizing: auto;
}
h1 {
    color: #F6FCD0;
    font-family: Jaro;
    font-size: 92px;
    font-weight: 30;
    line-height: 74.96px;
    letter-spacing: 10px;
    text-align: center;
}

h2 {
    color: #F6FCD0;
    font-family: Jaro;
    font-size: 50px;
    font-weight: 30;
    line-height: 74.96px;
    font-optical-sizing: 14px;
    letter-spacing: 5px;
}

h3 {
    color: #F6FCD0;
    font-family: Jaro;
    font-size: 35px;
    line-height: 74.96px;
    font-optical-sizing: 14px;
    letter-spacing: 5px;
}

p {
    color: #F6FCD0;
    font-family: Figtree;
    font-size: 20px;
    line-height: 33.6px;
    font-weight: 400px;
    max-width: 600px;
}

details {color: #d8774a;
font-family: Jaro;
font-size: 25px;
}

ol {color: #F6FCD0;
font-family: Figtree;
border: solid;
font-size: 25px;
line-height: 33.6px;
font-weight: 400px;
}

a {color: #d8774a}

.city-wrapper {
    padding: 20px;
    padding-left: 200px;
    margin-bottom: 40px;
}

.details-words {
    color: #F6FCD0;
}

@font-face {
    font-family: Jaro;
    src: url(fonts/Figtree,Jaro/Jaro/Jaro-Regular-VariableFont_opsz.ttf);
}

@font-face {
    font-family: Figtree;
    src: url(fonts/Figtree,Jaro/Figtree/Figtree-VariableFont_wght.ttf);
}

.container {
margin-left: auto;
margin-right: auto;
max-width: 600px;
}

.w-100 {
    width: 100%;
}

.decoration {
text-decoration-line: none;
}

a.decoration
{
    font-family: Jaro;
    font-size: 50px;
}